__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.terraform/
terraform.tfstate*
terraform.tfstate.backup
.env
secrets/
.DS_Store
*.db
tasks.db
.terraform*
.tfstate
.tfstate.*backup
*.tfvars.json
.terraformrc
crash.log
.terraform.lock.hcl
.terraform/